<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./resources/images/favicon_io/favicon-32x32.png" type="image/x-icon">
    <title>About TWWS</title>

    <!-- External Links -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div class="wrapper">

        <!-- Navigation Section -->
        <header class="text-gray-600 body-font">
            <div class="container mx-auto flex flex-wrap p-8 flex-col md:flex-row items-center">
                <a class="flex items-center mb-4 md:mb-0">
                    <span class="p-cinzel-light ml-3 brand text-xl">TWWS</span>
                </a>
                <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center uppercase">
                    <a class="p-light-14 mr-8 ml-8" href="../index.html">Home</a>
                    <a class="p-light-14 mr-8 ml-8" href="./botm.html">Botm</a>
                    <a class="p-light-14 mr-8 ml-8" href="./review.html">Reviews</a>
                    <a class="p-light-14 mr-8 ml-8" href="./about.html">About</a>
                </nav>
                <button
                    class="secondary-btn p-dark items-center border-0 py-1 px-3 mt-4 md:mt-0 mr-8 ml-8">Signup</button>
            </div>
        </header>
    </div>
</body>

</html>